@{
    ViewBag.Title = "Etiqueta Funcionário";
    Layout = "_Layout";
}

<h2>Etiqueta Funcionário</h2>

@* @using (Html.BeginForm("ImprimirEtiquetaFuncionario", "Etiqueta", FormMethod.Post, new { @class = "form", id = "form-etiqueta-funcionario", enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <button type="submit">Importar e Imprimir</button>
} *@

<form asp-action="EtiquetaFuncionario" asp-controller="Etiqueta"
      enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
      method="post">
    <dl>
        <dt>
            <label for="formFile">File</label>
        </dt>
        <dd>
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name="formFile" id="formFile">
            </div>
        </dd>
    </dl>

    <input class="btn btn-primary" type="submit" value="Importar e Imprimir" />

    <div style="margin-top:15px">
        <output name="result"></output>
    </div>
</form>

<script>
    /*async function AJAXSubmit (oFormElement) {
      var resultElement = oFormElement.elements.namedItem("result");
      const formData = new FormData(oFormElement);

      try {
      const response = await fetch(oFormElement.action, {
        method: 'POST',
        body: formData
      });

      if (response.ok) {
        window.location.href = '/';
      }

      resultElement.value = 'Result: ' + response.status + ' ' +
        response.statusText;
      } catch (error) {
        console.error('Error:', error);
      }
    }*/
    /*function AJAXSubmit(oFormElement) {
        var oReq = new XMLHttpRequest();
        oReq.onload = function (e) {
            oFormElement.elements.namedItem("result").value =
                'Result: ' + this.status + ' ' + this.statusText;
        };
        oReq.open("post", oFormElement.action);
        oReq.send(new FormData(oFormElement));
    }*/
</script>


